<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>Fullstack Sample</h1>
    <h2>Welcome to the index page <%= name %>.</h2>
  </body>
  <p>Thanks for coming, <%= name %></p>
  <%- include('./partials/foot.ejs') %>
</html>
